.white-background {
    background-color: white !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

#selected-assignment .assignment-list-header {
    text-decoration: underline;
}

#assignment-body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 400px !important;
    height: 100%;
}

#assignment-body > div.segment {
    border-radius: 0 !important;
}

#assignment-body > div.top, #assignment-body > div.bottom {
    border-top: 0;
}

#assignment-body > div.bottom {
    border-bottom: 0;
}

#assignment-body > div.attached:not(.top):not(.bottom) {
    flex: 1 !important;
    border-top: initial;
}

#assignment-body .icon.avatar {
    width: 1.18em !important;
}

#editor-container {
    padding: 0;
}

#editor-container > div {
    margin: 0;
    width: 100% !important;
    height: 100%;
}

#run-input {
    display: flex;
}

#run-input > div.input {
    flex: 1;
    margin: 0;
    border-radius: 0;
}

#run-input input {
    border-radius: 0;
}

#run-input > div.label {
    flex: 0;
    padding-top: .78571429em;
    margin: 0;
}

#run-input > div.label:not(:first-child) {
    border-radius: 0;
}

#run-input > div.label:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#run-input button.positive {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#run-input input {
    width: 20px;
}

#assignment-body.segment {
    padding: 0;
    border: 0;
}

#editor-console {
    position: relative;
    background-color: #272822;
}

#editor-console-messages {
    overflow-y: scroll;
    height: 200px;
}

#editor-console-shadow {
    box-shadow: inset 0 80px 90px -80px black;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
}

#editor-console p {
    margin: 0 !important;
    font-family: "Lucida Console", Monaco, monospace;
    color: green;
    font-size: 0.9em;
}

#editor-console p:before {
    content: ">";
    margin-right: 5px;
}

#editor-console p:last-of-type {
    color: greenyellow;
}

#editor-console p:last-of-type:before {
    content: "\00bb";
    color: greenyellow;
}

#login {
    padding-top: 100px;
}
