.white-background {
    background-color: white !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

#thread-body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 400px !important;
    height: 100%;
}

#thread-body > div.segment {
    border-radius: 0 !important;
}

#thread-body > div.top, #thread-body > div.bottom {
    border-top: 0;
}

#thread-body > div.bottom {
    border-bottom: 0;
}

#thread-body > div.attached:not(.top):not(.bottom) {
    flex: 1 !important;
    border-top: initial;
}

#thread-body .icon.avatar {
    width: 1.18em !important;
}

#editor-container {
    padding: 0;
}

#editor-container > div {
    margin: 0;
    width: 100% !important;
    height: 100%;
}

#run-input {
    display: flex;
}

#run-input > div.input {
    flex: 1;
    margin: 0;
    border-radius: 0;
}

#run-input input {
    border-radius: 0;
}

#run-input > div.label {
    flex: 0;
    padding-top: .78571429em;
    margin: 0;
}

#run-input > div.label:not(:first-child) {
    border-radius: 0;
}

#run-input > div.label:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#run-input button.positive {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#run-input input {
    width: 20px;
}

#thread-body.segment {
    padding: 0;
    border: 0;
}

#login {
    padding-top: 100px;
}

/* Fix semantic icon position in buttons */
.ui.icon.button > i {
    padding: 0 !important;
}

.editor-readonly {
    background-color: blue;
    background: rgba(0, 0, 255, 0.1);
    width: 100% !important;
    position: absolute;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
}

.editor-readonly:after {
    content: "\f023";
    background: 0 0 !important;
    width: 100%;
    text-align: right;
    display: block;
    padding-right: 10px;
}

.underlined {
    text-decoration: underline;
}

.splash .image {
    width: 300px;
    margin-bottom: 100px;
}

.splash .loader {
    margin-top: 100px;
}

.float-right {
    float: right;
}

#user-modal {
    z-index: 1000;
}

.message-ai {
    background-color: aliceblue !important;
    padding: 1em !important;
    margin: 1em -1em !important;
    width: calc(100% + 2em) !important;
}

#console {
    position: relative;
    background-color: #272822;
}

#console-messages {
    overflow-y: scroll;
    height: 200px;
    font-family: "Lucida Console", Monaco, monospace !important;
    font-size: 0.9em;
}

#console-shadow {
    box-shadow: inset 0 80px 90px -80px black;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
}

#console-messages i {
    color: darkorange;
    width: 16px;
}

#console-messages .item {
    opacity: 0.7;
}

#console-messages .item:last-of-type {
    opacity: 1;
}

#console-messages .success {
    color: green;
}

#console-messages .info {
    color: lightgray;
}

#console-messages .error {
    color: red;
}

#console-messages .log {
    color: aqua;
}

.threads-items .image {
    float: left !important;
    margin-right: 10px !important;
}

.code-snippet {
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 2px 8px;
    margin: 5px 0 !important;
}
