@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">
    <div class="ui active dimmer splash">
        <div class="content">
            <div class="center">
                <img class="ui centered image" src="/images/splash.png"/>
                <div class="ui big text loader">Loading...</div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
